.card {
  position: relative;

  display: flex;
  flex-direction: column;

  border: 2px solid var(--accent);

  &:hover,
  &:focus-within {
    background-image: linear-gradient(var(--faint-strong), var(--faint-strong));
  }

  &:focus-within {
    outline: none;
  }
}

.card:hover .card__link,
.card:focus-within .card__link {
  display: flex;
}

.card:focus-within .card__link:focus {
  background-color: var(--complain);
  box-shadow: none;
}

.card__link {
  @include primary-button;

  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  font-size: 24px;
  line-height: 33px;
  font-family: $special-font;
}

.card__title {
  margin: 0 30px 15px 18px;

  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  z-index: -1;
}

.card__text {
  margin: 0 30px 25px 18px;
  z-index: -1;
}

.card__img {
  margin-bottom: 26px;

  order: -1;
  z-index: -1;
}
