.features {
  padding-bottom: 125px;
}

.features__title {
  margin: 0 0 235px 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  color: var(--basic-strong);

  &::after {
    display: block;
    width: 450px;
    height: 3px;
    margin-top: 15px;

    background-color: var(--accent);
    content: " ";
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;

  @include list-reset;
}

.features__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 354px;
  margin-right: 20px;
  padding: 0 27px 41px;

  &::before {
    position: absolute;
    top: -110px;
    left: 132px;

    width: 98px;
    height: 98px;

    background-repeat: no-repeat;
    background-position: 0 0;

    content: " ";
  }

  &--range {
    &::before {
      background-image: url("../img/range.svg");
    }
  }

  &--delivery {
    &::before {
      top: -90px;
      width: 117px;
      height: 83px;

      background-image: url("../img/delivery.svg");
    }
  }

  &--sales {
    &::before {
      top: -100px;
      width: 95px;
      height: 95px;

      background-image: url("../img/sale.svg");
    }
  }

  &::after {
    position: absolute;
    top: -80px;
    left: 5px;

    width: 3px;
    height: 180px;

    background-color: var(--accent);

    content: " ";
  }

  &:first-child {
    &::after {
      display: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.features__item-title {
  margin: 0 0 25px 0;

  font-size: 24px;
  line-height: 33px;
}

.features__text {
  margin: 0 25px 0 0;

  text-align: center;
}
