.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include list-reset;
}

.nav__item {
  margin-right: 99px;

  &:nth-child(2) {
    margin-right: 133px;
  }

  &:last-child {
    margin-right: 0;
  }

  &--footer {
    margin-right: 105px;
    margin-bottom: 9px;

    &:nth-child(2) {
      margin-right: 99px;
    }
  }
}

.nav__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: var(--basic);
  text-transform: lowercase;

  &:hover {
    color: var(--accent);
  }

  &:active {
    opacity: 0.7;
  }

  &:focus {
    outline: 1px dotted var(--basic-strong);
  }

  &--button {
    font-size: 22px;
    line-height: 26px;
    @include primary-button;

    &:hover {
      color: var(--base-weak);
    }
  }
}

