.page-footer {
  margin-top: 45px;
  padding-bottom: 75px;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 25px;

  border-top: 3px solid var(--accent);
}

.page-footer__logo {
  margin-right: auto;
  @include state (var(--accent));
}

.page-footer__logo-img {
  width: 120px;
  height: 49px;
}
