.radio-button {
  margin-bottom: 6px;
}

.radio-button__sign {
  position: relative;
  display: block;
  padding-left: 33px;
  cursor: pointer;
  user-select: none;

  &::after {
    display: none;
  }
}

.radio-button__input + .radio-button__sign::before {
  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  width: 17px;
  height: 17px;

  border: 1px solid var(--accent);
  transform: rotate(45deg);

  content: " ";
}

.radio-button__input:checked + .radio-button__sign::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 3.5%;

  display: block;
  width: 10px;
  height: 10px;

  background-color: var(--accent);
  transform: rotate(45deg);
}

.radio-button__input:hover + .radio-button__sign::before {
  border-color: var(--accent-strong);
}

.radio-button__input:focus + .radio-button__sign::before {
  box-shadow: 0 0 5px 0 var(--accent-strong06);
}

.radio-button__input:active + .radio-button__sign::before,
.radio-button__input:checked:active + .radio-button__sign::after {
  opacity: 0.7;
}

.radio-button__input:disabled + .radio-button__sign::before,
.radio-button__input:disabled + .radio-button__sign {
  color: var(--faint-weak);
  border-color: var(--faint-weak);
  cursor: auto;
}

.radio-button__input:checked:hover + .radio-button__sign::after {
  background-color: var(--accent-strong);
}
