.radio-button {
  margin-bottom: 6px;
}

.radio-button__sign {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
  user-select: none;

  &::after {
    display: none;
  }
}

.radio-button__input + .radio-button__sign::before {
  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  width: 17px;
  height: 17px;

  border: 1px solid var(--accent);
  transform: rotate(45deg);

  content: " ";
}

.radio-button__input:checked + .radio-button__sign::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8.5px;

  display: block;
  width: 10px;
  height: 10px;

  background-color: var(--accent);
  transform: rotate(45deg);
}

.radio-button__input:checked + .radio-button__sign--lees-light::after {
  top: 8.5px;
  left: 8.5px;
}
