*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

:root {
  --base-weak: #ffffff;
  --faint: rgba(20, 20, 20, 0.5);
  --faint-weak-back: #f9fbfd;
  --faint-weak: #e5e5e5;
  --faint-strong-range: rgba(20, 20, 20, 0.5);
  --faint-strong: rgba(0, 0, 0, 0.8);
  --basic: #595755;
  --basic-strong: #27221c;
  --accent: #a4341c;
  --accent-weak: #c73304;
  --accent-strong: #792c1c;
  --accent-strong06: rgba(121,44,28,0.6);
  --complain: #32521e;
  --complain-strong: #233915;
  --special: #c9c6cd;
  --special-weak: #e1e4eb; }

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px; }

.page {
  height: 100%; }

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  font-family: "Lato", "Helvetica", sans-serif;
  color: var(--basic); }

.header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 11px; }

.header__logo {
  margin-right: 347px; }
  .header__logo:hover {
    opacity: 0.8; }
  .header__logo:active {
    opacity: 0.5; }
  .header__logo:focus {
    outline: 1px dotted var(--accent); }

.header__logo-img {
  width: 120px;
  height: 49px; }

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none; }

.nav__item {
  margin-right: 99px; }
  .nav__item:nth-child(2) {
    margin-right: 133px; }
  .nav__item:last-child {
    margin-right: 0; }
  .nav__item--footer {
    margin-right: 105px;
    margin-bottom: 9px; }
    .nav__item--footer:nth-child(2) {
      margin-right: 99px; }

.nav__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--basic);
  text-transform: lowercase; }
  .nav__link:hover {
    color: var(--accent); }
  .nav__link:active {
    opacity: 0.7; }
  .nav__link:focus {
    outline: 1px dotted var(--basic-strong); }
  .nav__link--button {
    font-size: 22px;
    line-height: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    padding: 6px 10px 10px;
    text-transform: lowercase;
    color: var(--base-weak);
    background-color: var(--accent);
    border: none; }
    .nav__link--button:hover {
      background-color: var(--accent-strong); }
    .nav__link--button:active {
      opacity: 0.7; }
    .nav__link--button:focus {
      box-shadow: 0 0 15px 0 var(--accent-strong);
      outline: 1px dotted var(--basic-strong); }
    .nav__link--button:hover {
      color: var(--base-weak); }

.page-content__catalog {
  display: flex;
  padding-bottom: 125px; }

.slider {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 80px; }

.slider__container {
  display: none;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto); }
  .slider__container--current {
    display: grid; }

.slider__img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1; }

.slider__desc {
  grid-column: 1/2;
  grid-row: 2/-1;
  max-width: 534px;
  margin: 0 0 129px 170px;
  padding: 25px 34px 26px;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: var(--accent);
  background-color: var(--faint-strong);
  z-index: 1; }

.slider__controls {
  display: flex;
  align-items: center;
  width: 352px;
  padding-top: 19px;
  padding-bottom: 20px;
  margin: 0 auto; }

.slider__btn {
  width: 35px;
  height: 21px;
  color: var(--complain);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: rotate(180deg); }
  .slider__btn:hover {
    opacity: 0.8; }
  .slider__btn:active {
    opacity: 0.5; }
  .slider__btn:focus {
    outline: 1px dotted var(--basic-strong); }
  .slider__btn--prev {
    margin-right: 101px; }
  .slider__btn--next {
    margin-left: 98px;
    transform: rotate(360deg); }
  .slider__btn:disabled {
    color: var(--faint-weak);
    cursor: auto; }

.slider__list-dot {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; }

.slider__dot {
  width: 15px;
  height: 15px;
  margin-right: 19px;
  background-color: var(--complain);
  transform: rotate(45deg);
  cursor: pointer; }
  .slider__dot:last-child {
    margin-right: 0; }
  .slider__dot:hover {
    background-color: var(--complain-strong); }
  .slider__dot:active {
    opacity: 0.7; }
  .slider__dot--current {
    background-color: var(--accent); }
    .slider__dot--current:hover {
      background-color: var(--accent-strong); }

.filter {
  min-width: 232px;
  margin-right: 54px; }

.filter__fields {
  margin: 0;
  padding: 0;
  border: none; }
  .filter__fields--place {
    padding-bottom: 50px; }
  .filter__fields--water {
    padding-bottom: 49px; }
  .filter__fields--light {
    padding-bottom: 49px; }

.filter__subtitle {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px; }

.filter__item {
  text-transform: lowercase; }

.filter__btn {
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 26px;
  text-transform: lowercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  padding: 6px 10px 10px;
  text-transform: lowercase;
  color: var(--base-weak);
  background-color: var(--accent);
  border: none; }
  .filter__btn:hover {
    background-color: var(--accent-strong); }
  .filter__btn:active {
    opacity: 0.7; }
  .filter__btn:focus {
    box-shadow: 0 0 15px 0 var(--accent-strong);
    outline: 1px dotted var(--basic-strong); }
  .filter__btn--reset {
    margin-bottom: 0;
    color: var(--accent);
    background-color: var(--base-weak);
    border: 1px solid var(--accent); }

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 75px;
       column-gap: 75px;
  row-gap: 35px; }

.range {
  padding-bottom: 52px; }

.range__title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px; }

.range__price-controls {
  display: flex; }

.range__item {
  width: 60px;
  padding: 3px 10px 0;
  font-size: 14px;
  line-height: 25px;
  color: var(--faint-strong-range);
  border: 1px solid var(--accent);
  -moz-appearance: textfield; }
  .range__item:focus {
    box-shadow: 0 0 5px 0 var(--accent-strong06);
    border-color: var(--accent-strong);
    outline: none; }
  .range__item--min {
    margin-left: 7px;
    margin-right: 22px; }
  .range__item--max {
    margin-left: 4px; }
  .range__item::-webkit-outer-spin-button, .range__item::-webkit-inner-spin-button {
    -webkit-appearance: none; }

.checkbox {
  margin-bottom: 6px; }

.checkbox__sign {
  position: relative;
  display: block;
  padding-left: 34px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }

.checkbox__input + .checkbox__sign::before {
  position: absolute;
  top: 6px;
  left: 3px;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--accent);
  content: " "; }

.checkbox__input:checked + .checkbox__sign::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  display: block;
  width: 14px;
  height: 11px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.checkbox__input:hover + .checkbox__sign::before {
  border-color: var(--accent-strong); }

.checkbox__input:focus + .checkbox__sign::before {
  box-shadow: 0 0 5px 0 var(--accent-strong06); }

.checkbox__input:active + .checkbox__sign::before,
.checkbox__input:checked:active + .checkbox__sign::after {
  opacity: 0.7; }

.checkbox__input:disabled + .checkbox__sign::before,
.checkbox__input:disabled + .checkbox__sign {
  color: var(--faint-weak);
  border-color: var(--faint-weak);
  cursor: auto; }

.checkbox__input:checked:hover + .checkbox__sign::after {
  background-image: url("../img/tick-hover.svg"); }

.radio-button {
  margin-bottom: 6px; }

.radio-button__sign {
  position: relative;
  display: block;
  padding-left: 33px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }
  .radio-button__sign::after {
    display: none; }

.radio-button__input + .radio-button__sign::before {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid var(--accent);
  transform: rotate(45deg);
  content: " "; }

.radio-button__input:checked + .radio-button__sign::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 3.5%;
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--accent);
  transform: rotate(45deg); }

.radio-button__input:hover + .radio-button__sign::before {
  border-color: var(--accent-strong); }

.radio-button__input:focus + .radio-button__sign::before {
  box-shadow: 0 0 5px 0 var(--accent-strong06); }

.radio-button__input:active + .radio-button__sign::before,
.radio-button__input:checked:active + .radio-button__sign::after {
  opacity: 0.7; }

.radio-button__input:disabled + .radio-button__sign::before,
.radio-button__input:disabled + .radio-button__sign {
  color: var(--faint-weak);
  border-color: var(--faint-weak);
  cursor: auto; }

.radio-button__input:checked:hover + .radio-button__sign::after {
  background-color: var(--accent-strong); }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent); }
  .card:hover, .card:focus-within {
    background-image: linear-gradient(var(--faint-strong), var(--faint-strong)); }
  .card:focus-within {
    outline: none; }

.card:hover .card__link,
.card:focus-within .card__link {
  display: flex; }

.card:focus-within .card__link:focus {
  background-color: var(--complain);
  box-shadow: none; }

.card__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  padding: 6px 10px 10px;
  text-transform: lowercase;
  color: var(--base-weak);
  background-color: var(--accent);
  border: none;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 24px;
  line-height: 33px;
  font-family: "Open Sans", "Helvetica", sans-serif; }
  .card__link:hover {
    background-color: var(--accent-strong); }
  .card__link:active {
    opacity: 0.7; }
  .card__link:focus {
    box-shadow: 0 0 15px 0 var(--accent-strong);
    outline: 1px dotted var(--basic-strong); }

.card__title {
  margin: 0 30px 15px 18px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  z-index: -1; }

.card__text {
  margin: 0 30px 25px 18px;
  z-index: -1; }

.card__img {
  margin-bottom: 26px;
  order: -1;
  z-index: -1; }

.features {
  padding-bottom: 125px; }

.features__title {
  margin: 0 0 235px 5px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--basic-strong); }
  .features__title::after {
    display: block;
    width: 450px;
    height: 3px;
    margin-top: 15px;
    background-color: var(--accent);
    content: " "; }

.features__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none; }

.features__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 338px;
  margin-right: 20px;
  padding: 0 27px 41px 40px; }
  .features__item::before {
    position: absolute;
    bottom: 200px;
    left: 130px;
    width: 98px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: 0 0;
    content: " "; }
  .features__item--range::after {
    display: none; }
  .features__item--range::before {
    background-image: url("../img/range.svg"); }
  .features__item--delivery {
    margin-right: 35px;
    padding-left: 69px; }
    .features__item--delivery::before {
      left: 135px;
      width: 117px;
      height: 83px;
      background-image: url("../img/delivery.svg"); }
  .features__item--sales {
    margin-right: 0;
    padding-left: 69px; }
    .features__item--sales::before {
      bottom: 197px;
      left: 142px;
      width: 95px;
      height: 95px;
      background-image: url("../img/sale.svg"); }
  .features__item::after {
    position: absolute;
    top: -92px;
    left: 5px;
    width: 3px;
    height: 180px;
    background-color: var(--accent);
    content: " "; }

.features__item-title {
  margin: 0 0 23px 0;
  font-size: 24px;
  line-height: 33px; }

.features__text {
  margin: 0 5px 0;
  text-align: center; }

.features__item--delivery .features__text {
  margin: 0 30px 0; }

.feedback-content {
  min-height: 720px;
  background-image: url("../img/feebback-background.jpg"), linear-gradient(90deg, var(--special) 27%, var(--special-weak) 63%);
  background-repeat: no-repeat;
  background-position: center; }

.feedback-content__wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 165px; }

.feedback-content__box {
  max-width: 470px;
  margin: 48px 210px 0 0;
  padding: 27px 44px;
  background-color: var(--faint-strong); }

.feedback-content__title {
  margin: 0 0 17px 0;
  font-size: 24px;
  line-height: 33px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: var(--accent); }

.feedback-content__text {
  margin: 0;
  color: var(--base-weak); }

.feedback-content__form {
  margin-top: 92px; }

.feedback {
  width: 400px;
  padding: 40px 50px;
  color: var(--base-weak);
  background-color: var(--complain); }

.feedback__wrapper {
  position: relative;
  margin-bottom: 20px; }
  .feedback__wrapper--plant {
    position: relative;
    margin-bottom: 35px; }
    .feedback__wrapper--plant::before {
      position: absolute;
      top: 30px;
      right: 15px;
      width: 20px;
      height: 20px;
      margin-top: 15px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid var(--accent);
      content: " "; }
  .feedback__wrapper--email {
    margin-bottom: 45px; }

.feedback__field,
.feedback__list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 12px;
  padding: 0 15px 0;
  color: var(--basic);
  border: 1px solid var(--accent);
  background-color: var(--faint-weak-back); }
  .feedback__field::-moz-placeholder, .feedback__list::-moz-placeholder {
    padding-top: 8px;
    font-size: 14px;
    line-height: 25px;
    color: var(--faint-strong-range);
    background-color: var(--faint-weak-back); }
  .feedback__field::placeholder,
  .feedback__list::placeholder {
    padding-top: 8px;
    font-size: 14px;
    line-height: 25px;
    color: var(--faint-strong-range);
    background-color: var(--faint-weak-back); }
  .feedback__field:hover, .feedback__field:active,
  .feedback__list:hover,
  .feedback__list:active {
    border-color: var(--accent-strong);
    outline: none; }
  .feedback__field:focus,
  .feedback__list:focus {
    outline: 2px solid var(--accent-strong); }

.feedback__list {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 25px;
  color: var(--faint-strong-range);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.feedback__note {
  display: none; }

.feedback__error-js {
  position: absolute;
  top: 70px;
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: var(--accent-weak); }

.feedback__btn {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  padding: 6px 10px 10px;
  text-transform: lowercase;
  color: var(--base-weak);
  background-color: var(--accent);
  border: none; }
  .feedback__btn:hover {
    background-color: var(--accent-strong); }
  .feedback__btn:active {
    opacity: 0.7; }
  .feedback__btn:focus {
    box-shadow: 0 0 15px 0 var(--accent-strong);
    outline: 1px dotted var(--basic-strong); }

.page-footer {
  margin-top: 45px;
  padding-bottom: 75px; }

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 25px;
  border-top: 3px solid var(--accent); }

.page-footer__logo {
  margin-right: auto; }
  .page-footer__logo:hover {
    opacity: 0.8; }
  .page-footer__logo:active {
    opacity: 0.5; }
  .page-footer__logo:focus {
    outline: 1px dotted var(--accent); }

.page-footer__logo-img {
  width: 120px;
  height: 49px; }

.footer-contacts {
  display: flex;
  align-items: center; }

.footer-contacts__copyright {
  margin: 0 auto 0 0; }

.footer-contacts__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none; }

.footer-contacts__item {
  margin-right: 58px; }
  .footer-contacts__item:last-child {
    margin-right: 0; }

.footer-contacts__link {
  color: var(--accent); }
  .footer-contacts__link:hover {
    color: var(--accent-strong); }
  .footer-contacts__link:active {
    opacity: 0.7; }
  .footer-contacts__link:focus {
    outline: 1px dotted var(--basic-strong); }

/*# sourceMappingURL=style.css.map */
