:root {
  --base-weak: #ffffff;
  --faint: rgba(20, 20, 20, 0.5);
  --faint-weak: #e5e5e5;
  --faint-strong: rgba(0, 0, 0, 0.8);
  --basic: #595755;
  --basic-strong: #27221c;
  --accent: #a4341c;
  --complain: #32521e;
}

//text

$main-font: "Lato", "Helvetica", sans-serif;
$special-font: "Open Sans", "Helvetica", sans-serif;
